<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.studentmanagementsystem" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Management System"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Flash_page"
            android:label="Student Management System" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Aboutus_page"></activity>
        <activity android:name=".Addattendance_page"></activity>
        <activity android:name=".Addexamseat_page"></activity>
        <activity android:name=".Addinternalmarks_page"></activity>
        <activity android:name=".Addnotice_page"></activity>
        <activity android:name=".Addstaffdetails_page"></activity>
        <activity android:name=".AddStudentdetails_page"></activity>
        <activity android:name=".Chooseamode_page"></activity>
        <activity android:name=".Contactus_page"></activity>
        <activity android:name=".Deleteattendance_page"></activity>
        <activity android:name=".Deleteexamseat_page"></activity>
        <activity android:name=".Deleteinternalmarks_page"></activity>
        <activity android:name=".Deletenotice_page"></activity>
        <activity android:name=".Deletestaffdetails_page"></activity>
        <activity android:name=".Deletestudentdetails_page"></activity>
        <activity android:name=".Displaystudentdetails_page"></activity>
        <activity android:name=".Feedback_page"></activity>
        <activity android:name=".Helpus_page"></activity>
        <activity android:name=".Staff_home_page"></activity>
        <activity android:name=".Staffcreateaccount_page"></activity>
        <activity android:name=".Stafflogin_page"></activity>
        <activity android:name=".Student_home_page"></activity>
        <activity android:name=".Studentcreateaccount_page"></activity>
        <activity android:name=".Studentlogin_page"></activity>
        <activity android:name=".Updatestaffdetails_page"></activity>
        <activity android:name=".UpdateStudentdetails_page"></activity>
        <activity android:name=".View_staff_attendance_details_page"></activity>
        <activity android:name=".View_staff_attendance_subjectname_page"></activity>
        <activity android:name=".View_staff_exam_seat_details_page"></activity>
        <activity android:name=".View_staff_exam_seat_subjectname_page"></activity>
        <activity android:name=".View_staff_internalmarks_subjectname_page"></activity>
        <activity android:name=".View_staff_internalmarks_details_page"></activity>
        <activity android:name=".View_staff_notice_titledetails_page"></activity>
        <activity android:name=".View_staff_notice_titlename_page"></activity>
        <activity android:name=".View_student_staffdetails_page"></activity>




    </application>

</manifest>
